.gameBoard{
    display: grid;
    max-width: 450px;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(75px, 100px));
    grid-template-rows: repeat(3, minmax(75px, 100px));
    margin: 2rem;
}
.cell{
    border: solid black;
    text-align: center;
}